<html ng-app>
<form (submit)="registerUser($event)" name="regU" #registerForm="ngForm" method="post" action="/">

<div class="input">
    <label>Firstname</label>
      <input type="text" id='fname' onfocus="this.value=''" required [(ngModel)]="fname1" name='fname1' #fname="ngModel" minlength="3">
        <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger">
          <div *ngIf="fname.errors.required"> First Name is required.</div>
          <div *ngIf="fname.errors.minlength">First name should be more than 3 alphabets </div>
          <span id="fnameError"></span>    
        </div>
        </div> 



<div class="input">
        <label>Lastname</label>
         <input type="text" id='lname' onfocus="this.value=''" required  [(ngModel)]="lname1" name="lname1" #lname="ngModel" minlength="3">
           <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="alert alert-danger">
           <div *ngIf="lname.errors.required">Last Name is required.</div>
           <div *ngIf="lname.errors.minlength">Last name should be more than 3 alphabets</div>
</div>
</div>  

<div class="input">
        <label>Username</label>
          <input type="text" id='uname' onfocus="this.value=''" required [(ngModel)]="uname1" name="uname1" #uname="ngModel">
            <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="alert alert-danger">
            <div *ngIf="uname.errors.required">User Name is required.</div>
            <div *ngIf="uname.errors.pattern">The password must contain.</div>
            
</div>
<span id="unameError"> </span>
</div>

<div class="input">
        <label>Password</label>
          <input type="password" id='pwd' onfocus="this.value=''" required [(ngModel)]="pwd1" name="pwd1" #pwd="ngModel" [pattern]="pwdPattern">
           <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">
           <div *ngIf="pwd.errors.required"> Password is required.</div>
           <div *ngIf="pwd.errors?.pattern"> error</div>
</div>
</div>        

<div class="input">
        <label>EmailID</label>
          <input type="email" id='Eid' onfocus="this.value=''" required [(ngModel)]="emailid1" name="emailid1" #emailid="ngModel" [pattern]="emailPattern">
            <div *ngIf="emailid.invalid && (emailid.dirty || emailid.touched)" class="alert alert-danger">
            <div *ngIf="emailid.errors.required"> Email Id is required.</div>
            <div *ngIf="emailid.errors?.pattern"> Email should contain @ and a valid domain.</div>
</div>
</div>

<div class="input">
        <label>Phone</label>
         <input type="tel" id='phone' onfocus="this.value=''" required [(ngModel)]="phone1" name="phone1" #phone="ngModel" [pattern]="phonePattern">
           <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
           <div *ngIf="phone.errors.required"> Phone number is required.</div>
           <div *ngIf="phone.errors?.pattern"> Phone number should be of 10 digits </div>
</div>
</div>


<div class="input">
<input type='submit' value="Register"> 

</div>
</form>
</html>
<!-- [disabled]='!registerForm.valid'> -->